<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="../styles/assuntos.css">

  <title>Site | Estudo </title>

  
</head>


<body  id="assuntos">
   <div class="container_assuntos">
      
      <main>
           <div class="grid_1">

                    <a  class="botao" href="">
                       <div class="tema">
                          <strong>Tecnologia</strong>
                          <img src="/fig/icon/tec.png" alt="">
                          
                      </div>
                      <div class="texto">
                        <p>Vamos ver se você entende mesmo de Tecnologia</p>
                    </div>
                     
                  </a>
             
                
                
                
                  <a  class="botao" href="">
                  <div class="tema">
                    <strong>Ciências</strong>
                    <img src="/fig/icon/tec.png" alt="">
                  </div>
                  <div class="texto">
                    <p>Vamos ver se você entende mesmo de Tecnologia</p>
                  </div>
                </a>
                


                
                  <a  class="botao" href="">
                  <div class="tema">
                    <strong>Ciências</strong>
                    <img src="/fig/icon/tec.png" alt="">
                  </div>
                
                  <div class="texto">
                    <p>Vamos ver se você entende mesmo de Tecnologia</p>
                  </div>
                </a>
                </div>






                <div class="grid_2">
                  <a  class="botao" href="">
                    <div class="tema">
                        <strong>Atualidades</strong>
                        <img src="/fig/icon/tec.png" alt="">
                      </div>
                      <div class="texto">
                        <p>Vamos ver se você entende mesmo de Tecnologia</p>
                      </div>
                    </a>


                    <a  class="botao" href="">
                      <div class="tema">
                          <strong>Tecnologia</strong>
                          <img src="/fig/icon/tec.png" alt="">
                        </div>
                        <div class="texto">
                          <p>Vamos ver se você entende mesmo de Tecnologia</p>
                        </div>
                      </a>


                      <a  class="botao" href="">
                        <div class="tema">
                            <strong>Tecnologia</strong>
                            <img src="/fig/icon/tec.png" alt="">
                          </div>
                          <div class="texto">
                            <p>Vamos ver se você entende mesmo de Tecnologia</p>
                          </div>
                        </a>

                </div>

                
      

          </div>

      </main>
  

  </div>

  
</body>
</html>