<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/login.css">


  <title>Login </title>

  
</head>


<body id="login">
   
  
<div class="container_login">
     



    <div class="logo-container-login">


      <img src="/fig/ibgego.png" alt="Jogos">

      <div class="formulario">
      <form action="" method="post">
        <label class="titulo" for="">Login</label>
        <input type="email" maxlength="20"    required  placeholder="Email"  name="" id="" />
        <input type="password"  maxlength="20"    placeholder="Senha"  required name="" id="" />
        
        <div class="botao_login">
          <button class="botao_cad1">
           OK
          </button>
          <a href="/" class="botao_cad2">
            Voltar
          </button>

        </div>
    
      </div>
    



    </form>
  </div>
      
      

</div>

  
</body>
</html>